body {
    background-color: white;
}

.rectangle {
    width: 250px;
    height: auto;
    background-color: gray;
    margin: auto;
    border: 3px solid black;
}

.circle {
    border-radius: 50%;
    border: 3px solid black;
    width: 150px;
    height: 150px;
    margin: auto;
}

.buttons {
    height: auto;
    width: 50px;
    margin: auto;
    padding: 50px;
}

.button {
    height: auto;
    width: 50px;
    border: 1px solid black;
    margin-top: 15px;
    text-align: center;
}

.button a {
    height: auto;
    width: auto;
    margin: 5px;
    text-decoration: none;
    color: inherit;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.off {
    background: gray;
}

.blinking {
    animation: blinkingBackground 1s infinite;
}
@keyframes blinkingBackground{
    0%		{ background-color: black;}
    100%	{ background-color: yellow;}
}