body {
    background-color: black;
}

.rectangle {
    width: 250px;
    height: auto;
    background-color: black;
    margin: auto;
    border: 3px solid black;
}

.circle {
    border-radius: 50%;
    border: 3px solid black;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.button {
    height: 30px;
    width: 30px;
    justify-content: center;
    border: 3px solid black;
    background: black;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.off {
    background: gray;
}